<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring Framework</title>
</head>
<body>

<h1>Author List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">default</td>
        <td th:text="${author.firstName}">default</td>
        <td th:text="${author.lastName}">default</td>
    </tr>
</table>

</body>
</html>